<div class="">
  <div class="filter_title">
    <h4>Filters <span><button class="btn-xs btn-outline-primary reset_challenge_filter_checkboxes">Reset</button></span>
    </h4>
  </div>
  <div class="">
    <h6>Status</h6>
    <ul class="list-unstyled mb-0">
      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[status][]" class="challenge_sidebar_filter"
                 id="draft" data-val="draft">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Draft</span>
          <i class="icon_side_margin fa fa-circle-o fa_draft fa_circle_sm" aria-hidden="true"></i>
        </div>
      </li>
      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[status][]" class="challenge_sidebar_filter"
                 id="scheduled" data-val="scheduled">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Scheduled</span>
          <i class="icon_side_margin fa fa-circle-o fa_scheduled fa_circle_sm" aria-hidden="true"></i>
        </div>
      </li>
      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[status][]" class="icon_side_margin challenge_sidebar_filter"
                 id="active" data-val="active">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
                <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Active</span>
          <i class="icon_side_margin fa fa-circle fa_active fa_circle_sm" aria-hidden="true"></i>
        </div>
      </li>
      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[status][]" class="challenge_sidebar_filter"
                 id="ended" data-val="ended">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Ended</span>
          <i class="icon_side_margin fa fa-circle fa_ended fa_circle_sm" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>

  <div class="mt-1">
    <h6>Challenge Type</h6>
    <ul class="list-unstyled mb-0">
      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[challenge_type][]"
                 class="challenge_sidebar_filter" id="share" data-val="share">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Share</span>
        </div>
      </li>

      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[challenge_type][]"
                 class="challenge_sidebar_filter" id="engage" data-val="engage">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Engage</span>
        </div>
      </li>

      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[challenge_type][]"
                 class="challenge_sidebar_filter" id="share" data-val="amplify">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Amplify</span>
        </div>
      </li>

      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[challenge_type][]"
                 class="challenge_sidebar_filter" id="collect" data-val="collection">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Collect</span>
        </div>
      </li>

      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[challenge_type][]"
                 class="challenge_sidebar_filter" id="connect" data-val="connect">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Connect</span>
        </div>
      </li>
      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[challenge_type][]"
                 class="challenge_sidebar_filter" id="engage" data-val="engage">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Engage</span>
        </div>
      </li>

      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[challenge_type][]" class="challenge_sidebar_filter" id="engage">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Grow</span>
        </div>
      </li>

    </ul>
  </div>

  <div class="mt-1">
    <h6>Platform</h6>
    <ul class="list-unstyled mb-0">
      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[platform_type][]" class="challenge_sidebar_filter"
                 data-val="facebook">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Facebook</span>
        </div>
      </li>
      <li>
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[platform_type][]" class="challenge_sidebar_filter"
                 data-val="twitter">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Twitter</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="mt-1">
    <h6>Reward Type</h6>
    <ul class="list-unstyled mb-0">
      <li class="">
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[reward_type][]" class="challenge_sidebar_filter"
                 data-val="points">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Points</span>
        </div>
      </li>

      <li class="">
        <div class="vs-checkbox-con vs-checkbox-primary">
          <input type="checkbox" value="false" name="filters[reward_type][]" class="challenge_sidebar_filter"
                 data-val="prize">
          <span class="vs-checkbox vs-checkbox-sm">
            <span class="vs-checkbox--check">
              <i class="vs-icon feather icon-check"></i>
            </span>
          </span>
          <span class="filter_label">Prize</span>
        </div>
      </li>
    </ul>
  </div>

  <!--  <div class="mt-1">-->
  <!--    <h6>Users Targetted</h6>-->
  <!--    <p>50-100%</p>-->
  <!--    <div id="tap" class="slider-xs slider-danger noUi-target noUi-ltr noUi-horizontal" id="extra-small-slider">-->
  <!--      <div class="noUi-base">-->
  <!--        <div class="noUi-connects">-->
  <!--          <div class="noUi-connect noUi-draggable" style="transform: translate(8.33333%, 0px) scale(0.833333, 1);"></div>-->
  <!--        </div>-->
  <!--        <div class="noUi-origin" style="transform: translate(-872.667%, 0px); z-index: 5;">-->
  <!--          <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="20.0" aria-valuemax="75.0" aria-valuenow="25.0" aria-valuetext="25.00">-->
  <!--            <div class="noUi-touch-area"></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="noUi-origin" style="transform: translate(-83.3333%, 0px); z-index: 4;">-->
  <!--          <div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="25.0" aria-valuemax="80.0" aria-valuenow="75.0" aria-valuetext="75.00">-->
  <!--            <div class="noUi-touch-area"></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div class="mt-1" style="margin-top: 3px;">-->
  <!--    <h6>Segments Targetted</h6>-->
  <!--    <input class="form-control form-control-sm" type="text" placeholder="Add Segment Filter">-->
  <!--  </div>-->

  <!--  <div class="mt-1" href="#">-->
  <!--    <h6>Creator</h6>-->
  <!--    <input class="form-control form-control-sm" type="text" placeholder="Add Creator Filter">-->
  <!--  </div>-->

  <div class="mt-1">
    <h6>Tags</h6>
    <%= select_tag :tags,
                   options_for_select(all_tags_humanize),
                   class: 'form-control-sm challenge-tags-filter', multiple: 'multiple' %>
    <div class="tag_box challenge-filter-tag-selection" style="padding-top: 5px;">
    </div>
  </div>
</div>
