<%= javascript_include_tag 'admin', 'data-turbolinks-track' => 'reload' %>

<div class="pcoded-main-container">
  <div class="form-group">
    <h1>Users List</h1>
    <table class="table table-striped table-bordered userdata"  id="static-table" >
      <thead>
        <tr>
          <th>User Id</th>
          <th>Profile Pic</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
